FORMAT: 1A
HOST: https://pigeonpost-nicholasstephan.c9users.io/

# Pigeon Post

A little story about pigeons...

## Email Capsules [/email]

### Release a Bird [POST]

| PROPERTY                         | TYPE             | REQUIRED | LIMITS | DESCRIPTION                                                                                                               |
|----------------------------------|------------------|----------|--------|---------------------------------------------------------------------------------------------------------------------------|
| **from**                         | Objects          | YES      |        | Our birds our trained to tap this out in morse code to keep it secure.                                                    |
| &nbsp;&nbsp;&nbsp;&nbsp;address  | String           | YES      |        | Tap tap taaap... tap tap... tap tap tap.                                                                                  |
| &nbsp;&nbsp;&nbsp;&nbsp;name     | String           | NO       |        | Tap taaap tap tap... tap tap tap... taaaap tap tap.                                                                       |
| &nbsp;&nbsp;&nbsp;&nbsp;host     | String           | YES      |        | Tap tap                                                                                                                   |
| &nbsp;&nbsp;&nbsp;&nbsp;port     | String           | YES      |        | Tap tap (normally 587)                                                                                                    |
| &nbsp;&nbsp;&nbsp;&nbsp;security | String           | YES      |        | Tap tap (normally "tls")                                                                                                  |
| &nbsp;&nbsp;&nbsp;&nbsp;auth     | Boolean          | YES      |        | Tap                                                                                                                       |
| &nbsp;&nbsp;&nbsp;&nbsp;username | String           | if _auth_|        | Tap tap                                                                                                                   |
| &nbsp;&nbsp;&nbsp;&nbsp;password | String           | if _auth_|        | Tap                                                                                                                       |
| **to**                           | Array of Objects | YES      |        | Our prime offering. These birds are big and strong, fed the freshest grains twice a day by beautiful women.               |
| &nbsp;&nbsp;&nbsp;&nbsp;address  | String           | YES      |        | These birds will fly true to this destination.                                                                            |
| &nbsp;&nbsp;&nbsp;&nbsp;name     | String           | NO       |        | The name you'd like on the capsule, written in our best calligraphy.                                                      |
| **cc**                           | Array of Objects | NO       |        | A selection of smaller birds, kept in the back of the coop.                                                               |
| &nbsp;&nbsp;&nbsp;&nbsp;address  | String           | YES      |        | We'll pass this along, hopefully the birds don't forget.                                                                  |
| &nbsp;&nbsp;&nbsp;&nbsp;name     | String           | NO       |        | The name you'd like on the capsule, scribbled with a ball point pen.                                                      |
| **bcc**                          | Array of Objects | NO       |        | If we told you about these birds, we'd have to kill you.                                                                  |
| &nbsp;&nbsp;&nbsp;&nbsp;address  | String           | YES      |        | We promise, our birds will never divulge this secret.                                                                     |
| &nbsp;&nbsp;&nbsp;&nbsp;name     | String           | NO       |        | The name you'd like on the capsule, written on flash paper with invisible ink.                                            |
| **subject**                      | String           | NO       |        | Be sure to grab their attention, otherwise they might just eat the bird and not read the message!                         |
| **message**                      | HTML/Text        | NO       |        | The body of your message, make it a good one.                                                                             |
| **attachments**                  | Array of Objects | NO       | 10MB   | Our birds can carry a lot of weight, but don't weigh them down too heavily or the recipient might just send them back.    |
| &nbsp;&nbsp;&nbsp;&nbsp;content  | String           | YES      |        | The attachment itself. (Pigeon Post Corp. takes no responsibility to damage sustained during transit)                     |
| &nbsp;&nbsp;&nbsp;&nbsp;type     | String           | YES      |        | The meme type of the attachment. Normally something unpronounceable by our pigeons like "application/pdf" or "image/jpg"  |
| &nbsp;&nbsp;&nbsp;&nbsp;filename | String           | YES      |        | We'll stencil this to the side of the attachment with care.                                                                    |


+ Request (application/json)

        {  
            "from": {
                "host": "smtp.gmail.com",
                "port": "587",
                "security": "tls",
                "auth": true,
                "username": "alberto.rvx@gmail.com",
                "password": "--------",
                "address": "alberto.rvx@gmail.com",
                "name": "Alberto Siza"
            },
            "to": [
                {
                    "address": "amanda.rvx@gmail.com",
                    "name": "Amanda Carter"
                }
            ],
            "subject": "Cooo Coooo",
            "message": "<b>What? You expected me to tweet?</b>",
            "attachments": [
                {
                    "content": "iVBORw0KGgoAAAANSUhEUgAAAGsAAACACAIAAACDXgAaAAAACXBIWXMAAA9hAAAPYQGoP6dpAAAAIXRFWHRTb2Z0d2FyZQBHcmFwaGljQ29udmVydGVyIChJbnRlbCl3h/oZAAAerUlEQVR4nOSdd1xU19aGwQTNvUZjwxJLFDT2BhqxABYsERQ1YkONCIImcm3ECioWirFEjYqCSATFhhFLFIgao0ajcBXMxYLEJPbojSVqNMX5nsy+38nJ9DkzIOj6g9/MmX3O2fvda73rXfsUbFSW2Z07d5YtWzZlypSQkJAJEyZ8+OGH+fn5Fh6zeJmNJTsfP368j7e3HLLk5OTatWv7+Pj88MMPFvetaNn333+flpZ27949je3KEfzll1/q169/48YNje1PnjwJCwsrX778J598ovjgRc3y8vI8PT1nzZrVsWNH/Eb+k3IEc3NzAwMD9f26Z8+eMmXKvP/++7///rviUxQdCw4Ovn//vkrtNwxKDqJyBC9evBgXF2egwalTpyrb2w8YMODXX39VfJaiYI8fPx43bpz09enTp3z9+eefxVflCBKt5A3DbbKysvBEQCzWnnj+/PnIyEj5Frjro48+Ep8tyiR+fn4PHz403Gbfvn12dnZDhgz57bffLDnXM7ScnJyoqCiNjUuWLCGiVRYiuGnTJrl76zNSiq2tLSAWU0+8du0a3Kex8cqVK5s3b1ZZiCCItGzZcvv27UZbEu82NjbDhg37448/LDljYRo8LmmymjVrwvsaDRDCKgsRxLKzs+3t7Y8dO2a05cyZMwGR9A0TW3jSQrDExMTBgwdDf+vXr6fDI0aM4KtGm5iYGALZUgQxnLlcuXL79+832hJPLFGiRFBQUBHPzrdu3Ro0aJD4fOHChdDQ0C+++OKll17ScMOvv/46PT3dCghia9asKVWqFPNmtOXu3bsrVqzo5uZ28+ZNq5y6IGz58uVTp06VvlKN+Pv7Ozk5zZgxQ97swYMHc+bMsQ6C2I4dO6hDCFWjQXr16tVu3bpVq1btwIED1jq7dQ2C8x85Ur7l0KFDxFmDBg00WoaEhFgNQezbb791d3fv1auX0aKYfEJE/+Mf/2AOi2BuOXv2LOQuihDJYHB4XGNoVkZQpdbrK1asqFy58rRp0x49emS48dGjR19//XUimjCxbjcst379+o0ZM0a+BexefvnllJQU+UaGaSmC5IS0tDQUH3/v3r0rNoKIh4dH/Tfrk6kN746qatWqFczI7hb2xLpGAildurRUeAgjvBYsWCDfEhYWZhGCwNehQ4dOnToRvG+88QbJxMvLa9u2bWzHGWNjYyE7jUnTNlx16NChZDp68wwld0ZGRnh4+KpVqyB0Ear5+fkNGzaMjo6W2iSsW/fBBx/I95o7d65FCMIXs2bNkr7euXPn008/BY569epBc/fu3WMm6cSiRYuMHor2gNi+fftnFdGUTP/973+ZwpMnT65evXry5Mlk5NzcXBhp4sSJos2TJ0/kDkHjhQsXWoQgYYv3aW8nNt95553XXnsNoj1x4kTdunUnTZpkNEd/9tln5LtKlSo9kxxN5Xvj+t/WOnEIpCtamgRCYGnvwmSz3VIehHFJwTp/unTpEqm2+uuvV69enU7g8EaPxqHatGkDYb/33ntUoxb2zSxDn3br2hWRLN+ITkCfUQU0adJE2wPg7v/85z+WIkjxCPcZWHeh7iEomjdvjnYRC9oEQlho6MqVK5OSkrZu3ZqZmSlvD4ciXAERIkfW3r5928IeGjXYhi4tWbJk5MiRtra2rq6uu3bukjc4fPgwoUYwaexInmHgVlAzwcHBffv2FUs9BiwvL48pZSY1yBhXTd648ZtvvpFvzMrKcnZ2xnPLlCkDwRtdQ1Ns586dwwPgDWb3u+++S01NhcdLliyJ5teATLsSFXnZCgg+fvwY7YKX5eTkGG389I8/iFDt7adPn96+fbs8UuDptWvXOjg4gCM8EB8fXxDae/z48VTBGhtJJo0aNrSzs9NJf5ItVmdI6yhqQHz//fdRM/iX0bijJalGezs1AHJBEpXCwJH8/vbbb0NGUCS8Y5UOSzZlyhQ6zwcS8caNG4cPG1a7dm2qN48uXThpWxeXzp07x66J1XZAYp9JVVkLQWHHjh3jfPDX6NGjCUN9zf79738ToT/++KP2T/jgli1bLl++rP0TYc6QIFMkmxX7jABAe8F9aAB/f//du3dLF0CEPXjwYM2aNYyLbsu3f/nll2KMVq7qsDNnzuCJderUoWd8gGLEJMstIiKC8CRydR6BYZw/f17nT5SMBBehZ/ki4+bNm8mzTDaVJWIQn4KFSGLkDe3GBFaPHj2++uoracvSpUsBV1UQCKrUOnH//v2wmKenJ1n1lVdeadeu3eLFi+VtSGQIRsagMedSj/UdnMmnCkRgWtLD69evb9q06aeffiJg09PTKYfIh6h6mIRT61y+vHf3HqOQ4kMSZ1ZGELcaO3YsYJEWDh48uP/zz4lKchYB4ubm9uuTv/WMkoZKk/Ah22rTuQHDzSkVOJFiT/z4449Rc/QKmbJyxQrolTRFZEyZPHnMmDEcH3C199q7d2/v3r3FZ9SP+GBlBFEGGotCRi07O9vPz69C+QrkaBSPiXuhQ8uWLTthwgRze8gppk+fPnjwYCIAqkGyIKcoSCjjmHKmBFmGD+q74YIiFUK8ePGiFOxWRhBC0cduho3YoXwmpigHja7oCGPAJBZTim7JiEHKJBGkTDY8Q/6F+9AGBMHOnTvnhId7e3vDtqGhoTqPQLig84kwSVpZGUFKxbZt28IyCvZlDHgEzGhvb098maIuCat//vOf/DXxFBMnTpSWf8jsFCGcBbw4aUBAAEnv0aNHMA+/Qo46j0B7dtywYYO0xfqZBA+CXORpy6iReWDx9evXI2UBkf4FBga++eab0dHROkWP3Hbs2FGlShV9tbmGEbwigWLMNNlj3Lhx8ClqAT2oUpcos2fPpjgxoMYaNWoEjUpfCyQXi2td/fv3J9BMKSRAQZsBiTUEB6nG6BJDcnJy69atTbn+t27dOogCjoOsa9WqJUI1ISEBxwRK5AEZ1qhHk0PQGNLXAkFQGG7ImQhJmAWuiY2NReLoXPpn5nFAS84VFBgkv7qm02A9XNvJyQl1hQb09fUFeia4e/fuCxcuFEUuUBrwPmEU6dQtEskUIIJ0Ds+aP3/+q6++avP/RsVC6X706FGNxui7q1evKj4XoyJL4vL6GsAS+/btE58f/PwgJCREOB0VjrirSL4vGRl9s3r1agrQfv36EUwdOnTo3as3BUJGRga/0n/KQdG4oBBktuEXwpDcjwbGAdnSokULsqeAslWrVgnrEqRFF0qC4cOHW7ImeOjQIVxDo6wWBrdSQsi3UMz961//gs4yMzPlV66PHz8OOdasWRNuRd8cOXJEHBB5SHnu2bMnPUfA0uzdd98VuxQUglRL+n6iwl2+fDmVGaGNqJa2AyJzTqcVn3TUqFH4i/b2xMTEk39fqiJsqXalr+i7WbNmUYYC0FtvvUUqE5Uo2lDj0hKJu1q1ao0bN6akEVsKCsF58+YRHeauRxEgRAeaQ2dJYNTu3LlTvXp1bTGM0HN2dk5JSZGyDYkYN0QeEsjUauw1cODAbt26yeePgO3bt6+8khPWp08fuVwrKATBAhBdXV3JdIYvwKOlYWU5ZLCMj48PzJibm6vd3vBlaNI6BZ8Uy+RcRD49QTmHzgjFvyATsha+RiZBS0qUgkjWuLaJWmQUqamp6CpyIP2k2oMfpfgVVoCZhMILti5fvjzpuGLFig4ODq3VBsvQJ2QjDXA3CJv+aS/hQO0oL6htwIABVP7Lli0j9j08PHAWw+fFR0gU4jNkJ58GYgI6QxuUKFFCYFeuXDl8DQqmmXRNTqXWUmKhgcRN4woVKjAKSNzZyVnjgk9BIYhb4URSovjt19+QqRR86WnpRw4fQUbgJvCgvgss5B8gg2sY2LFjx2AfagYck4Rg9JoyLs+ABXDUiDrbMH8cEAS3bt3KV0o9tsgbP/3j6bBhw+g/IomZY1YiIiJQEbSRNLmwgkKQ8xm98gudX7hwQXs7Mx8UFGTJCuDixYvRH3jctGnTtNf7hLuhq6R4RLqyC87+5MkTqRlZjgYcBwmB9hZXcpBcGgtrBYUgOkZDQGgb3oQjQDQa23FMlJAlZ+cIDBsOIRJtbW3btGkzftw4si2HdXFxEfErv7UbrIEPcUN60TgUjk+MQzXSFmhUXjUXFIL4f506dXABw5dNmPPgscGdOnXatm2bPEXgOFGRUZZcWqLEfvnll220DFIjw5JwNNqDb1pamnbUU0qToEeMGCEFL70iC0khUoCZBNajeIKJmW0mTedatDAULxUFmbFLly4kTbERHQ7vaFwFValXqPCId/q9Y3RRlnyCcFsdE0NAIAlwMUJVJ2+o1A84gAthizKXb0djqtS0jpNK++LaUrMCRFClXmJAWgMik49HEFlIBEaCg8hzCDIiPj5e+6Iw086Yh6mNeCeH1nWs27NnT5xCg851Gm2aN28utBsHH+DjsyFpgwG/huDQ0g3q15cvCJHNpbLEz88PMfTFF1/gHBIbFiyCwghkqnrSmaS/xKV0ECHbitt58BEDR8Dv8EeEsbkL4Hv27OncuTOlBcBBi6goJkNfY4AjCAL8AwhzaSPRTfkkPhNGkLudnR1UQL0sNhYGgsJIbYQVwGkQU7NmzUgpiCzxeIZOg3QC/P2VnZfAdHJygmfJv7t27dJ+OFMy9BMKlC6VLVuWYo6T4uwigJBHgwYNIhEhzuknIS9V04WHIIXU7t27IZQrV67k5eXBI1mZmRSkUljhL4gYwjY2Nva9994j/OV3kkyYMEHZXZpEH6UIylmswuJHOu8hQaZwipYtW0ZHR/95V6CNTY0aNUqrDd2KYNR3/EJCkFBleo3eW6NSrxUSIIyBIle+HY9YtWoV7ENpJfIgQCC8Qbx7t27aCUfDKNqYEnd3dzc3N40jC6MoguaY5v79++ODaPhrV699c+abxMTE4OBguU7UsMLzQXQfVEi3jLZkzo8cPgzc5D6qlzFjxjRt2lTc70Fhs2jRol69etV1dKReFFei58+bZ2CEkgEcZKovBaGliGJx99vs2bOFMPD39ye3GNb2hYegSi1QUC2kY0pRufpjVJBLeHi4ELRgFxcXR0tBlKSCz9VXfzQMNClypa9GxWNUVJRYxKVMNNwYXvb09JTf/2vAChVBlRod4q5u3bqIGwcHB/TNm/XqVbav3LVr147u7kAstWTmCVh98g0jqKUaeWfqTkSG4VMjRMgDZBVTnqakmc7FWm2zMoKIL9RmyKQQMpeXlxfSgQ/wCGIFzpKvvuTn55NY0Gvr1q3TCBO+AgdMZPhcODLaAt5kSkiyBCA7Xrp0SV/QHTx4cO/evdpPaWobM0e8mzDcP83KCAIWg9HYSPojDEkCjo6OpMWZM2cyTvETKJQqVQoHnD9/Pil4yZIl8P3AgQNpc/OG8cfG4FaUJsICVyUVgJ2BpCkMaqP2QJcYuI5KMapd9ukzsxFknCQsuIzJRGGBCyKAU8JcqCeqtwYNGmjc2CsZQYffUatXr16d/IA6gQGJXBKFoLwqVapo3PJAVbNy5cquHl31HVMYSnt0UBCdMeVRAKOrPgzBdOluNoKMZ9HChRob8TIKtbVxa/EgAvOll16qVasWdBMXG6vzVhhKOpJstWrV0PetW7cmZMQqAOmVwMSbcOTIyEhyCNtr164Nf8mh4TOlglEFY9iocHRuz87OdnFxMf04ZiOIy3h4eBhug26gf0lJSYx88ODB2ktGwsAdz6JMptQtWbKk9jqKSMTyJQl8dsqUKQT+5MmTze25hmlcQpIMSWDWrXVmI0gyRabLL3RZxagcSClkHlzS2dkZ3Em1KDLpjlVCj1mpU6cOsLZo3tzyJ5TFazZStfgOBzRQX2qbDgTpK4mS7sLr/CWF7du3b+PGjTExMYwHCUZ9Lq7OMF0ITuh8y5Yt2g8LWG7UYXAu+pncQhYSXgmHXjivV+KYbgEBASkpKVWrVlWpF68gaJX6cTooyKwXX/0NQZhl+PDhlDVE3x61AQ31EJk0KyuLo1PGcjK+Hj58+OCBg3AZuQ9mBN8CevCD6cw8eRL3xGXIVwgXcYuQ5UbS27Rp0/Tp00ka69evd3N15fjNmzWvVKmSWcf5C0EkPqTzor13jFGTx2BqdAIJivQFKZt1hL8QpPCMiIiwdg+LmVHMoUzN2uUvBCkVXV1d9+3dq08ukUMQa/AgIrbgHjJ6hkap/uqrr5ry3hK5/Y0H0RZlypRByvn5+S1cuBB2SExMXLRo0YgRIxC9FStWpHRFRgCiKWshxc6gRSSquZe3NHMxKfW1114j5dna2iId+vbti3YlZ8GPxeI9MZYY4knBre3/Q5A8S7ILDAwMCgrC6Q4dOmTiyoS17Jm/r+LMmTPomHPnzpm7ow2MJlZQTp069ay8bO/evcpuXrei+fr6mrJso2027777rvZqSiEbFY7OlffCsT8lZ2ZmlSpVlPXBxsfHx5R2V65ciY6ObtmyZZ8+fQxcO1dm5CtTXjpVEPbjjz8eP3787bff1nhozXSzYWeNpxblduPGDRzEw8MDjrCvZI9qN+vxLRMtPj6+8KUo2oWBo4LFE7GmXAXTaTZ5eXljx4719vZmDBRwBw4cgJViY2PHjRtH5QtwVMGkFyo87WIeTaP4xHKjaOvQoYOyfR88eLA9JYWiglzEZ1P4lLClNBTPOKNtS5YsKe6BU2b/y8WggzNHRUVxOIAD06VLl2ZkZOgrQtk+c+bMcuXKadzQaaIRO0SuKOZV6vdkIp5IZQoO9bvaKNVx5ISEBOaew+rL7Gy/efOmeB0OQ8B7atSo0a1bNwXnlUxTDx48eNDLy0vfgwniMn5AQADavXnz5qtWrTL33aCXLl0aPXo0To18FbcPcEzGjwLF2dHwOLv288g6jQjYsGGDeN0ScwBw7PvTTz9xiri4OKm0AN/s7GyyhLgsJZ7REItP9vb2FSpUoDQ2awgapmN1i/M1atSI1E6Ozs3N5Xy4J4E2atQo+ILCm3k2fFb6iv9q3JUP1hHz57/yyivi7gsGTwXar18/hgF8/K1atSp+/ejhQxgKWNH2hqHkgD169EhKTIR8xAUmpn/evHmfJHzC3BDXIqLlEu3J48fXrl2jGX7HSemM5e+20b3CSpRJK++S1XV0NJBzhDHVCxYsAGhK9Nu3/lrvOn/+vIuLi1jsg1vFAYncZs2aTZ06VVzAZcycUXpuRsMkIJ6oTaV+gIR5JSSZD6qAuXPn4o9nc3P3qk26sk7jrKwsIAZxuA8ERdFVqlQpfQv9ZpmhNWo6cfv2bWby8uXLH3/8cVhYmIHGYDR+/PiyZcs2btxYfoGcsCKDt2nTRrqeC8onT55kMrT11wcffMDAxFWBS2pTqS82oZ/kt0/jpICFzwLcjh07aEBMbNm8GceX3oHBlJw9e/b+/fscBBDZHQRDQkKEy9NJjZfzKDYzVvmXL18+ePDgLVu2SIupdAs1wHZXV1ccqnz58iQikRAg7OTk5CFDhkA0RJaJdIlD1axZk6NFRkSSyhi/ziUMYCIDLFu2jNllGiC1H374QQQys85fAM3JyUlPTxfai6/MYt26dekkM4T0s+Krnc27TsIIIWzK7wEDBiASmzRp4uTkhMaeNWsW5MKvxCBZon79+uJBg+HDhxu46UCnQUykqcmTJ3/00Ue+Q3wRVfI3pODRjJ/6Yc6cOfAsfgQJgtr3338vnE7cTHIxL48IBV9A7N+/v0RH3Uy4R8lcK6i7PtCJiqvspKQkwZXw6aRJk0gv06dPDwwMRDPi46VLl/bu7U1+I7QhNUJ+VEDAmDFjiI+w0FDxpKGbq2v79u0BWgDH0eBfnS/xsNwK+74ZEw0PwoW1L35WqlQJyGbPmo03ubu5Qc0oGJxR3BADC8tvkyVjAByYFuiyRRFFUKV+DEFcEQQshzoO7dq1W716dd++fStXrlyiRAkiHUZDk9LAzs6Olmxp2rQpDUjueLF4fUch9LPoIghe6DWo4PTp0ykpKTWq15Be40Pwfvnll2ykqBfuRmg/q1c/Fl0EqbogMiQkAj4mJqZLly6kLI02CD1JXVpYnOkz0uO2bdsMPLNbdBFUqZ9IqVOnjngenRoJBYMo0WiDdCfjUymi2E15pbhhI9cDFkUhypQJ4+BUTeSohVq3CklWpBFUqYfUuXNn6j9U0bSpU8nFGnda4oa4anpaGirdwcFBSB8YcOPGjSQZxA3iEbWoc4lE3LhDMQ5evr6+A3wGDBs2jElau3YtOgktydnRvOhNxIC+HhZ1BFXqCqRBgwbifg/QpBQBUDQp4yQv4y/QZWho6NixY9E01apV69SpE/5IYkGloueRRGRwgr13795UVjNmzMBnSVN4Fp6LbqeCgiWkRzfd3NzY7u/vX69ePeQ9NQ/o63xnorBigCD1HwgyfjQ2EgePAyx0MikY+UIyqVixIvgyyDfeeIOoB9/PMzJQ0YMGDfr0008pKEEB7ICeso909FDrZnRYggqK+RA33m3dujU1NRUZRJ1KRQsV4qH6umc2gkwIJ0BhURghmx/+3dgiilBzD8te1GdXr149d+7ciRMnqCUoNhgMRQ4+RZFDVN69e5daCLDgJgTjqFGjUH/37t1LSEgAXwaflpbm6OiIb9IMfNE6KBvYMyoqCgXu5eWl882GGM4L+owLAUAgh0wKiY+P79Gjx5IlS8SjpwauhZiNIP2mK/yl07i9eKfHhP+34OBgQmDkyJFUxAwDdUZjukIm7dixo7u7e0e18bV79+4cATcJCAhgR0Tyhx9+SKm7cuVKki+xiQvgOEQZ26dMmVKrVi0+jBgxgiMDIi7DXnyA7JHNzs7OonuUIkwAlTvtkTjQHF7ZsGFDfJYt+h6FIFk1a9pUpb5ig7sR4ABHvLNd/FswnS/AUIggR5c/bFtohkOp1EMFX9wKmJhFanBCmzxA5SeaoaUJW8+enjip+F8ElCtEBnlG+1/rScahxHOxeIP4JyTwIBOGQ7CjSv+z8ioFCOJf4v2jhWwMhvKDJPD48WOSLDpxdFDQ/fv36Q/OIi8/0EDSuxVgG1PKc+LG29tbpX60Di+GWwkRgoAAEi+Rkj+rqGFKophAM3cvq1jBvbWfTEJZffPmTSgF7wZ0Pz+/xYsXk3zExRxtMS+ZEgSfv5vkEMxvvfUWShNWRf0BIrEvHi8XWlp69aW2KUFQ/laR58NQLYhHNBNicODAgWFqG+o7FHoVd6WTrPTtqwRBZVc4i7Ihd8jUjRo1atq0KWqcbIlL4o9z585FQqrUtaO+fc1GkPpUkO5zZohNAzdFklv0/WQ2gkgz9J25exV38+zZU99qo9kIwqwvIIJUQfpufDYbwZSUFAPi6Hk1ChV9j3uYjeCFCxeoySzuUjEzih99a+BmI0hJIAqsF8qoJvX9Wwolq1uNGze2rD/Fz+bOnaPx79slU4JgkyZNLOtP8TPxHn+dPylBsE2bNqa8tOl5sk2bNiUnJ+v8SQmCyMsi+H8iC9TS09Pl70GXmxIEBw0apOzfFxRfO3DggPx/G8pNCYKkdgPvzn4u7ciRI9oXWoUpQZDUbsr/bn+e7MSJE9ZEEH9et26dRT0qbpaTk6PvzQ5KEFywYIHGq5ufe6MS0/fQohIEyUrh4eGWdamY2eXLl/VddFeCYFxcnPTK7BfEbt++7efnp/MnJQgmJSWRji3rUjGzhw8fouF0/qQEwa1btw7VfxfEc2lPnz7Vd6lECYKpqakv4BKhvoV+JQh+9tlnL+AyddeuXXVuV4JgRkZGx44dLetP8bNOnTrp3K4EQUq6tm3bWtaf4mft2rXTuV0JgocPH27VqpVl/Sl+1rp1a53blSD41VdfvYAL/QxZ501MShD8+uuvmzVrZnGXipPl5+fXqFFD5wsmlCCYmZn5HCz0//LLL7du3bp06dKZM2eOHTsm7ppNSEhYvnx5RETE1KlTKeOGDh2KDHR1dS1ZsqSdnZ3Od/AoQTArK+vZ+iDRhDtcv349Ly9P/D88BNaWLVvi4+MZf1RkZGho6IQJEwIDA319ffv06dO9e3cvL6/evXuj6dzd3Vu0aFG7du3KlSuXL1++TJkyZcuWtbe3d3R0bN++/fDhw2fPnr1y5crNmzfv3r0b5UsJu3bt2g0bNsj/MZzclCCYnZ1tXR58/Pjxt99+e/ToUbxg9erV0dHRYWFh48eP9/f3HzhwoKenp5ubm5OTU/369Rs2aMCpIXUPDw8fH5+AgICJEycy5kWLFsXExCQmJqao31qBWoCsT548efr0aY5s+QszDZgSBHNycoy+ilXb/oQpPx9/YT4jIyOJEQIEd2D+bW1txROYVatWbdmyZc+ePUeOHDlt2rSlS5cmJyfv37+fQMPjChQIxaYEQWIHz1+2bBnD27lzJwxy4MABxskH3H5TcvKaNWvwo8mTJwMEcKCknJ2dgQbcxQu+w8PDV6xYQaSw16lTp7777rt79+4V0zejKXyeBOxwov79+0MrLi4u3t7e4h8QQ0a7du0ClxMnTkAc165ds8oLaYqy/R8AAAD//wMA3a25tP8T/qsAAAAASUVORK5CYII=",
                    "type": "image/png",
                    "filename": "Bob"
                }
            ]
        }

+ Response 200
+ Response 500 
